/**
 *main-right
 */
.detail {
  position: relative;
  flex:1;
  border-top: 1px solid #BDC3C7;  
}
.task-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  background-color: #F3F3F6;

  .todo-name {
    padding-left: 15px;
  }
}
.success {
  @include icon(20px,5px);
  &:hover {
    cursor:pointer;
  }
}
.edit {
  @include icon(20px,5px);
  &:hover {
    cursor:pointer;
  }
}
.task-date {
  height: 35px;
  padding-left: 15px;
  line-height: 35px;
  background-color:#eee;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.task-content {
  height: 100%;
}

/**
 *task-input
 */
.input-title {
  margin-top: 10px;
  padding: 7px 10px;
  width: 244px;
}
.input-date {
  padding: 5px 10px;
}
.textarea-content {
  width: 100%;
  height: 100%;
  margin: 0; /* don't want to add to container size */
  border: 0; /* don't want to add to container size */
  font-size: 16px;
  resize: none;
  line-height: 1.6;
}

/**
 *button-area
 */
.button-area {
  display: none;
  position: absolute;
  bottom: 15px;
  right: 20px;

  button {
    border: none;
    cursor: pointer;
    outline: none;
    padding: 8px 20px;
    margin-left: 15px;
  }
}
.info{
    color: #B35690
}
.save {
    background-color: #95A0D8;
    color: #fff;
}
